annotated-types==0.7.0
asn1crypto==1.5.1
bip-utils==2.9.3
bitarray==2.9.2
cbor2==5.6.4
cffi==1.16.0
ckzg==1.0.2
coincurve==20.0.0
crcmod==1.7
cytoolz==0.12.3
ecdsa==0.19.0
ed25519-blake2b==1.4.1
eth-account==0.13.0
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.5.1
eth-rlp==2.1.0
eth-typing==4.4.0
eth-utils==4.1.1
eth_abi==5.1.0
hexbytes==1.2.1
parsimonious==0.10.0
py-sr25519-bindings==0.2.0
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
PyNaCl==1.5.0
regex==2024.5.15
rlp==4.0.1
six==1.16.0
toolz==0.12.1
typing_extensions==4.12.2
